[submodule "libs/SqlParser"]
	path = libs/SqlParser
	url = https://github.com/Enriquefft/parser-dbms-bd2
[submodule "libs/SequentialIndex"]
	path = libs/SequentialIndex
	url = git@github.com:nicolas-castaneda/sequential-index.git
